@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: $body-copy-font-size;
  font-family: $font-family-josefin-sans;
  font-weight: $font-weight-regular;

  .wrapper {
    padding: 48px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;

    &.dark {
      background-color: $very-dark-blue;

      .container {

        main {
          .form-box {
            background-color: $very-dark-desaturated-blue;

            input {
              background-color: $very-dark-desaturated-blue;
              border: none;
              color: black;
              font-weight: $font-weight-regular;

              &::placeholder {
                color: $dark-grayish-blue-dark-theme;
              }
            }
          }

          ul {
            background-color: $very-dark-desaturated-blue;

            li.uncompleted {
              border-bottom-color: $very-dark-grayish-blue-secondary-dark-theme;

              color: $dark-grayish-blue-dark-theme;
            }

            li.completed {
              color: $very-dark-grayish-blue-dark-theme;
              text-decoration-line: line-through;
            }

          }
        }
      }
    }

    &.light {
      background-color: $very-light-gray;

      .container {

        main {
          .form-box {
            background-color: $very-light-grayish-blue;

            input {
              background-color: $very-light-grayish-blue;
              border: none;
              color: black;
              font-weight: $font-weight-regular;

              &::placeholder {
                color: $dark-grayish-blue-dark-theme;
              }
            }
          }

          ul {
            background-color: $very-light-grayish-blue;

            li.uncompleted {
              color: $dark-grayish-blue;
              border-bottom-color: $light-grayish-blue-dark-theme;

            }

            li.completed {
              color: $light-grayish-blue;
              text-decoration-line: line-through;
              border-bottom-color: $light-grayish-blue-dark-theme;

            }
          }
        }
      }
    }

    .container {
      max-width: 540px;
      margin: 0 auto;
      header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 48px;
        color: white;

        button {
          border: none;
          background: transparent;
          cursor: pointer;
        }

        img {
          overflow-clip-margin: content-box;
          overflow: clip;
        }
      }

      main {
        display: flex;
        flex-direction: column;

        .form-box {
          display: flex;
          align-items: center;
          padding: 20px;
          border-radius: 0.8rem;
          margin-bottom: 28px;
          width: 100%;

          input {
            margin-right: 1.6rem;
            cursor: pointer;

          }
        }

        .todo-list {
          display: flex;
          flex-direction: column;
          align-items: center;

          ul {
            display: flex;
            flex-direction: column;
            border-radius: 0.8rem;
            width: 100%;
            justify-content: stretch;
            margin-bottom: 50px;
            list-style: unset;

            li {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              border-bottom: 0.1rem solid $very-light-grayish-blue;
              gap: 35px;
              padding: 20px;
            }
          }
        }
      }


      footer {
        text-align: center;
        line-height: 1.5;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    &.dark {
      background-image: url("images/bg-mobile-dark.jpg");
    }

    &.light {
      background-image: url("images/bg-mobile-light.jpg");
    }
  }

}

@media screen and (min-width: 600px) {
  .wrapper {
    &.dark {
      background-image: url("images/bg-desktop-dark.jpg");
    }

    &.light {
      background-image: url("images/bg-desktop-light.jpg");
    }
  }

}