@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Overpass:wght@100&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  all: unset;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif, "Overpass", sans-serif, monospace;
  font-weight: 400;
}
body .wrapper {
  padding: 48px 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}
body .wrapper.dark {
  background-color: hsl(235, 21%, 11%);
}
body .wrapper.dark .container main .form-box {
  background-color: hsl(235, 24%, 19%);
}
body .wrapper.dark .container main .form-box .checkmark {
  border: 1px solid hsl(233, 14%, 35%);
}
body .wrapper.dark .container main .form-box form input {
  background-color: hsl(235, 24%, 19%);
  border: transparent;
  color: hsl(234, 39%, 85%);
  font-weight: 400;
}
body .wrapper.dark .container main .form-box form input::placeholder {
  color: hsl(234, 11%, 52%);
}
body .wrapper.dark .container main .todo-list ul {
  background-color: hsl(235, 24%, 19%);
}
body .wrapper.dark .container main .todo-list ul .uncompleted {
  border-bottom-color: hsl(237, 14%, 26%);
  border-bottom-width: 1px;
  color: hsl(234, 39%, 85%);
}
body .wrapper.dark .container main .todo-list ul .uncompleted:hover::after {
  background-color: hsl(235, 24%, 19%);
}
body .wrapper.dark .container main .todo-list ul .uncompleted span {
  border: 1px solid hsl(233, 14%, 35%);
}
body .wrapper.dark .container main .todo-list ul .completed {
  color: hsl(233, 14%, 35%);
  text-decoration-line: line-through;
  border-bottom-width: 1px;
  border-bottom-color: hsl(237, 14%, 26%);
}
body .wrapper.dark .container main .todo-list .dashboard {
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 11%, 52%);
}
body .wrapper.dark .container main .todo-list .dashboard .filters button:hover {
  color: hsl(236, 33%, 92%);
  font-weight: 700;
}
body .wrapper.dark .container main .todo-list .dashboard .clear-completed button:hover {
  color: hsl(236, 33%, 92%);
  font-weight: 700;
}
body .wrapper.dark .container main .control-for-mobile .dashboard {
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 11%, 52%);
}
body .wrapper.dark .container main .control-for-mobile .dashboard .filters button:hover {
  color: hsl(236, 33%, 92%);
  font-weight: 700;
}
body .wrapper.light {
  background-color: hsl(0, 0%, 98%);
}
body .wrapper.light .container main .form-box {
  background-color: white;
}
body .wrapper.light .container main .form-box .checkmark {
  border: 1px solid hsl(234, 39%, 85%);
}
body .wrapper.light .container main .form-box form input {
  background-color: white;
  border: none;
  color: hsl(235, 24%, 19%);
  font-weight: 400;
}
body .wrapper.light .container main .form-box form input::placeholder {
  color: hsl(234, 11%, 52%);
}
body .wrapper.light .container main .todo-list ul {
  background-color: white;
}
body .wrapper.light .container main .todo-list ul .uncompleted {
  color: hsl(235, 24%, 19%);
  border-bottom-color: hsl(236, 33%, 92%);
  border-bottom-width: 1px;
}
body .wrapper.light .container main .todo-list ul .uncompleted:hover::after {
  background-color: white;
}
body .wrapper.light .container main .todo-list ul .uncompleted span {
  border: 1px solid hsl(234, 39%, 85%);
}
body .wrapper.light .container main .todo-list ul .completed {
  color: hsl(233, 11%, 84%);
  text-decoration-line: line-through;
  border-bottom-color: hsl(236, 33%, 92%);
  border-bottom-width: 1px;
}
body .wrapper.light .container main .todo-list .dashboard {
  background-color: white;
  color: hsl(236, 9%, 61%);
}
body .wrapper.light .container main .todo-list .dashboard .filters button:hover {
  color: hsl(235, 24%, 19%);
  font-weight: 700;
}
body .wrapper.light .container main .todo-list .dashboard .clear-completed button:hover {
  color: hsl(235, 24%, 19%);
  font-weight: 700;
}
body .wrapper.light .container main .control-for-mobile .dashboard {
  background-color: white;
  color: hsl(236, 9%, 61%);
}
body .wrapper.light .container main .control-for-mobile .dashboard .filters button:hover {
  color: hsl(235, 24%, 19%);
  font-weight: 700;
}
body .wrapper .container {
  max-width: 540px;
  margin: 0 auto;
}
body .wrapper .container header {
  display: flex;
  justify-content: space-between;
  letter-spacing: 10px;
  margin-bottom: 48px;
  color: white;
}
body .wrapper .container header button {
  border: none;
  background: transparent;
  cursor: pointer;
}
body .wrapper .container header img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
body .wrapper .container main {
  display: flex;
  flex-direction: column;
}
body .wrapper .container main .form-box {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 0.4rem;
  margin-bottom: 28px;
  width: 100%;
}
body .wrapper .container main .form-box .checkbox {
  cursor: pointer;
  position: absolute;
  opacity: 0;
}
body .wrapper .container main .form-box .checkmark {
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
body .wrapper .container main .form-box form input#text {
  margin-left: 1.6rem;
  cursor: pointer;
  outline: none;
  letter-spacing: 0.5px;
  font-family: "Josefin Sans", sans-serif, "Overpass", sans-serif, monospace;
}
body .wrapper .container main .todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .wrapper .container main .todo-list ul {
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem 0.4rem 0 0;
  width: 100%;
  justify-content: stretch;
  list-style: unset;
}
body .wrapper .container main .todo-list ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 0.1rem solid hsl(236, 33%, 92%);
  padding: 20px;
}
body .wrapper .container main .todo-list ul li input {
  cursor: pointer;
  position: absolute;
  opacity: 0;
}
body .wrapper .container main .todo-list ul li .completed, body .wrapper .container main .todo-list ul li .uncompleted {
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 24px;
}
body .wrapper .container main .todo-list ul li .completed::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
body .wrapper .container main .todo-list ul li .completed::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./images/icon-check.svg");
}
body .wrapper .container main .todo-list ul li .uncompleted:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
body .wrapper .container main .todo-list ul li .uncompleted:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  width: 18.5px;
  height: 18.5px;
}
body .wrapper .container main .todo-list ul li .trash-btn {
  cursor: pointer;
  border: none;
  background-image: url("./images/icon-cross.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  margin-left: auto;
}
body .wrapper .container main .dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 28px;
  padding: 20px;
}
body .wrapper .container main .dashboard button {
  font-size: 18px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: hsl(236, 9%, 61%);
  font-family: "Josefin Sans", sans-serif, "Overpass", sans-serif, monospace;
  font-weight: 400;
}
body .wrapper .container main .dashboard .active {
  font-weight: 700;
  color: hsl(220, 98%, 61%);
}
body .wrapper .container main .dashboard .filters {
  gap: 18px;
}
body .wrapper .container footer {
  text-align: center;
  line-height: 1.5;
}

@media screen and (max-width: 600px) {
  .wrapper form input#text {
    width: 100%;
    font-size: 14px;
  }
  .wrapper .todo-list {
    font-size: 14px;
  }
  .wrapper .todo-list li .trash-btn {
    display: block;
  }
  .wrapper .todo-list .dashboard {
    justify-content: space-between;
    border-radius: 0 0 0.8rem 0.8rem;
  }
  .wrapper .todo-list .dashboard .filters {
    display: none;
  }
  .wrapper .todo-list .dashboard .clear-completed button {
    font-size: 14px;
  }
  .wrapper .control-for-mobile .dashboard {
    justify-content: center;
    border-radius: 0.8rem;
  }
  .wrapper .control-for-mobile .dashboard .items-left {
    display: none;
  }
  .wrapper .control-for-mobile .dashboard .filters {
    display: flex;
  }
  .wrapper .control-for-mobile .dashboard .filters button {
    font-size: 14px;
  }
  .wrapper .control-for-mobile .dashboard .clear-completed {
    display: none;
  }
  .wrapper.dark {
    background-image: url("images/bg-mobile-dark.jpg");
  }
  .wrapper.light {
    background-image: url("images/bg-mobile-light.jpg");
  }
}
@media screen and (min-width: 600px) {
  .wrapper form input#text {
    width: 100%;
    font-size: 18px;
  }
  .wrapper .todo-list li .trash-btn {
    display: none;
  }
  .wrapper .todo-list li:hover .trash-btn {
    display: block;
  }
  .wrapper .todo-list .dashboard {
    justify-content: space-between;
    border-radius: 0 0 0.4rem 0.4rem;
  }
  .wrapper .todo-list .dashboard .filters {
    display: flex;
  }
  .wrapper .control-for-mobile {
    display: none;
  }
  .wrapper.dark {
    background-image: url("images/bg-desktop-dark.jpg");
  }
  .wrapper.light {
    background-image: url("images/bg-desktop-light.jpg");
  }
}

/*# sourceMappingURL=App.css.map */
