@import "variables";


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  all: unset;
  font-size: $body-copy-font-size;
  font-family: $font-family;
  font-weight: $font-weight-regular;


  .wrapper {
    padding: 48px 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;

    &.dark {
      background-color: $very-dark-blue;

      .container {

        main {
          .form-box {
            background-color: $very-dark-desaturated-blue;
            .checkmark {
              border: 1px solid $very-dark-grayish-blue-dark-theme;
            }
            form {
              input {
                background-color: $very-dark-desaturated-blue;
                border: transparent;
                color: $light-grayish-blue-dark-theme;
                font-weight: $font-weight-regular;

                &::placeholder {
                  color: $dark-grayish-blue-dark-theme;
                }
              }
            }

          }

          .todo-list {
            ul {
              background-color: $very-dark-desaturated-blue;
              .uncompleted {
                border-bottom-color: $very-dark-grayish-blue-secondary-dark-theme;
                border-bottom-width: 1px;
                color: $light-grayish-blue-dark-theme;
                &:hover::after {
                  background-color: $very-dark-desaturated-blue;
                }
                span {
                  border: 1px solid $very-dark-grayish-blue-dark-theme;
                }

              }

              .completed {
                color: $very-dark-grayish-blue-dark-theme;
                text-decoration-line: line-through;
                border-bottom-width: 1px;
                border-bottom-color: $very-dark-grayish-blue-secondary-dark-theme;
              }
            }

            .dashboard {
              background-color: $very-dark-desaturated-blue;
              color: $dark-grayish-blue-dark-theme;
              .filters {
                button {
                  &:hover {
                    color: $light-grayish-blue-hover-dark-theme;
                    font-weight: $font-weight-bold;
                  }
                }
              }
              .clear-completed {
                button {
                  &:hover {
                    color: $light-grayish-blue-hover-dark-theme;
                    font-weight: $font-weight-bold;
                  }
                }
              }
            }
          }

          .control-for-mobile {
            .dashboard {
              background-color: $very-dark-desaturated-blue;
              color: $dark-grayish-blue-dark-theme;
              .filters {
                button {
                  &:hover {
                    color: $light-grayish-blue-hover-dark-theme;
                    font-weight: $font-weight-bold;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.light {
      background-color: $very-light-gray;

      .container {

        main {
          .form-box {
            background-color: white;
            .checkmark {
              border: 1px solid $light-grayish-blue-dark-theme;
            }
            form {
              input {
                background-color: white;
                border: none;
                color: $very-dark-desaturated-blue;
                font-weight: $font-weight-regular;

                &::placeholder {
                  color: $dark-grayish-blue-dark-theme;
                }
              }
            }
          }

          .todo-list {
            ul {
              background-color: white;
              .uncompleted {
                color: $very-dark-desaturated-blue;
                border-bottom-color: $very-light-grayish-blue;
                border-bottom-width: 1px;
                &:hover::after {
                  background-color: white;
                }
                span {
                  border: 1px solid $light-grayish-blue-dark-theme;
                }
              }

              .completed {
                color: $light-grayish-blue;
                text-decoration-line: line-through;
                border-bottom-color: $very-light-grayish-blue;
                border-bottom-width: 1px;
              }
            }

            .dashboard {
              background-color: white;
              color: $dark-grayish-blue;
                .filters {
                    button {
                    &:hover {
                        color: $very-dark-desaturated-blue;
                        font-weight: $font-weight-bold;
                    }
                    }
                }
                .clear-completed {
                    button {
                    &:hover {
                        color: $very-dark-desaturated-blue;
                        font-weight: $font-weight-bold;
                    }
                    }
                }
            }
          }

          .control-for-mobile {
            .dashboard {
              background-color: white;
              color: $dark-grayish-blue;
              .filters {
                button {
                  &:hover {
                    color: $very-dark-desaturated-blue;
                    font-weight: $font-weight-bold;
                  }
                }

              }
            }
          }
        }
      }
    }

    .container {
      max-width: 540px;
      margin: 0 auto;

      header {
        display: flex;
        justify-content: space-between;
        letter-spacing: 10px;
        margin-bottom: 48px;
        color: white;

        button {
          border: none;
          background: transparent;
          cursor: pointer;
        }

        img {
          overflow-clip-margin: content-box;
          overflow: clip;
        }
      }

      main {
        display: flex;
        flex-direction: column;

        .form-box {
          display: flex;
          align-items: center;
          padding: 20px;
          border-radius: 0.4rem;
          margin-bottom: 28px;
          width: 100%;
          .checkbox {
            cursor: pointer;
            position: absolute;
            opacity: 0;
          }
          .checkmark {
            cursor: pointer;
            position: relative;
            border-radius: 50%;
            width: 20px;
            height: 20px;
          }

          form {
            input#text {
              margin-left: 1.6rem;
              cursor: pointer;
              outline: none;
              letter-spacing: 0.5px;
              font-family: $font-family;
            }
          }

        }

        .todo-list {
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 0.4rem;

          ul {
            display: flex;
            flex-direction: column;
            border-radius: 0.4rem 0.4rem 0 0;
            width: 100%;
            justify-content: stretch;
            list-style: unset;

            li {
              display: flex;
              flex-direction: row;
              justify-content:flex-start;
              border-bottom: 0.1rem solid $very-light-grayish-blue;
              padding: 20px;


              input {
                cursor: pointer;
                position: absolute;
                opacity: 0;
              }

              .completed, .uncompleted {
                cursor: pointer;
                position: relative;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                margin-right: 24px;
              }

              .completed::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: $check-background;
              }
              .completed::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url("./images/icon-check.svg");
              }
              .uncompleted {
                &:hover::before {
                  content: "";
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 20px;
                  height: 20px;
                  border-radius: 50%;
                  background: $check-background;
                }
                &:hover::after {
                  content: "";
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  border-radius: 50%;
                  transform: translate(-50%, -50%);
                  width: 18.5px;
                  height: 18.5px;
                }

              }
              .trash-btn {
                cursor: pointer;
                border: none;
                background-image: url("./images/icon-cross.svg");
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-position: center;
                background-color: transparent;
                margin-left: auto;
              }
            }
          }
        }

        .dashboard {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          padding: 20px;

          button {
            font-size: 18px;
            border: none;
            background: transparent;
            cursor: pointer;
            color: $dark-grayish-blue;
            font-family: $font-family;
            font-weight: $font-weight-regular;
          }
          .active {
            font-weight: $font-weight-bold;
            color: $primary-bright-blue;
          }
          .filters {
            gap: 18px;
          }
        }
      }


      footer {
        margin-top: 20px;
        text-align: center;
        line-height: 1.5;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    form {
      input#text {
        width: 100%;
        font-size: 14px;
      }
    }
    .todo-list {
      font-size: 14px;
      li {
        .trash-btn {
          display: block;
        }
      }
      .dashboard {
        justify-content: space-between;
        border-radius: 0 0 0.8rem 0.8rem;


        .filters {
          display: none;
        }
        .clear-completed {
          button {
            font-size: 14px;
          }
        }
      }
    }

    .control-for-mobile {
      .dashboard {
        margin-top: 20px;
        justify-content: center;
        border-radius: 0.8rem;

        .items-left {
          display: none;
        }

        .filters {
          display: flex;
          button {
            font-size: 14px;
          }
        }

        .clear-completed {
          display: none;
        }
      }

    }

    &.dark {
      background-image: url("images/bg-mobile-dark.jpg");
      .todo-list {
        box-shadow: -1px 5px 20px 10px rgba(37, 39, 60, 0.2);
      }
    }

    &.light {
      background-image: url("images/bg-mobile-light.jpg");
        .todo-list {
            box-shadow: -1px 5px 20px 10px rgba(157, 162, 235, 0.3);
        }
    }
  }

}

@media screen and (min-width: 600px) {
  .wrapper {
    form {
      input#text {
        width: 100%;
        font-size: 18px;
      }
    }
    .todo-list {
      li {
        .trash-btn {
          display: none;
        }
        &:hover {
          .trash-btn {
            display: block;
          }
        }
      }
      .dashboard {
        justify-content: space-between;
        border-radius: 0 0 0.4rem 0.4rem;
        margin-bottom: 0;

        .filters {
          display: flex;
        }
      }
    }

    .control-for-mobile {
      display: none;
    }

    &.dark {
      background-image: url("images/bg-desktop-dark.jpg");
      .todo-list {
        box-shadow: -1px 5px 20px 10px rgba(37, 39, 60, 0.2);
      }
    }

    &.light {
      background-image: url("images/bg-desktop-light.jpg");
        .todo-list {
          box-shadow: -1px 5px 20px 10px rgba(157, 162, 235, 0.3);
        }
    }
  }

}